<div style="height: 70px;">
</div>
<div class="content-wrap" igxLayout *ngIf='isAdmin()'>
    <igx-nav-drawer id="navigation" [pin]="true" [pinThreshold]="0">
        <ng-template igxDrawer>
            <span igxDrawerItem [isHeader]="true">{{translateService.get('Admin menu')}}  </span>
            <span igxDrawerItem igxRipple routerLink='projects'>
                <igx-icon name="project" fontSet="filter-icons"></igx-icon>
              <span >{{translateService.get('Projects')}}</span>
            </span>
            <span igxDrawerItem igxRipple routerLink='organizations'>
                <igx-icon name="organization" fontSet="filter-icons"></igx-icon>
                <span>{{translateService.get('Organizations')}}</span>
            </span>
            <span igxDrawerItem igxRipple routerLink='usersmenu'>
                <igx-icon name="client" fontSet="filter-icons"></igx-icon>
                <span>{{translateService.get('Users')}}</span>
            </span>
            <span igxDrawerItem igxRipple routerLink='mediamenu'>
                <igx-icon name="media" fontSet="filter-icons"></igx-icon>
                <span>{{translateService.get('Main page media menu')}}</span>
            </span>
            <span igxDrawerItem igxRipple routerLink='email'>
                <igx-icon name="send_email" fontSet="filter-icons"></igx-icon>
                <span>{{translateService.get('Send email')}}</span>
            </span>
            <span igxDrawerItem igxRipple routerLink='callback'>
                <igx-icon name="callback" fontSet="filter-icons"></igx-icon>
                <span>{{translateService.get('Callbacks menu')}}</span>
            </span>
        </ng-template>
        <ng-template igxDrawerMini>
            <span igxDrawerItem igxRipple routerLink='projects'>
                <igx-icon name="project" fontSet="filter-icons"></igx-icon>
          </span>
            <span igxDrawerItem igxRipple routerLink='organizations'>
                <igx-icon name="organization" fontSet="filter-icons"></igx-icon>
        </span>
            <span igxDrawerItem igxRipple routerLink='usersmenu'>
                <igx-icon name="client" fontSet="filter-icons"></igx-icon>
        </span>
            <span igxDrawerItem igxRipple routerLink='mediamenu'>
                <igx-icon name="media" fontSet="filter-icons"></igx-icon>
        </span>
            <span igxDrawerItem igxRipple routerLink='email'>
                <igx-icon name="send_email" fontSet="filter-icons"></igx-icon>
        </span>
            <span igxDrawerItem igxRipple routerLink='callback'>
                <igx-icon name="callback" fontSet="filter-icons"></igx-icon>
        </span>
        </ng-template>
    </igx-nav-drawer>

    <main igxFlex>
        <!-- <button (click)="drawer.toggle()"> Menu </button> -->
        <span igxButton="icon" igxToggleAction="navigation">
        <igx-icon fontSet="material">menu</igx-icon>
        
      </span>
        <router-outlet style="margin-left: 20px;"></router-outlet>
    </main>
</div>


<!-- CLIENT-->
<div class="content-wrap" igxLayout *ngIf='isClient()'>
    <igx-nav-drawer id="navigation" [pin]="true" [pinThreshold]="0">
        <ng-template igxDrawer>
            <span igxDrawerItem [isHeader]="true">{{translateService.get('Client menu')}}  </span>
            <span igxDrawerItem igxRipple routerLink='organizations'>
                <igx-icon name="organization" fontSet="filter-icons"></igx-icon>
                <span>{{translateService.get('Organizations')}}</span>
            </span>
            <span igxDrawerItem igxRipple routerLink='feedback'>
                <igx-icon name="feedback" fontSet="filter-icons"></igx-icon>
                <span>{{translateService.get('Feedbacks')}}</span>
            </span>
            <span igxDrawerItem igxRipple routerLink='support'>
                <igx-icon name="help" fontSet="filter-icons"></igx-icon>
                <span>{{translateService.get('Support')}}</span>
            </span>
        </ng-template>
        <ng-template igxDrawerMini>
            <span igxDrawerItem igxRipple routerLink='organizations'>
                <igx-icon name="organization" fontSet="filter-icons"></igx-icon>
          </span>
            <span igxDrawerItem igxRipple routerLink='feedback'>
                <igx-icon name="feedback" fontSet="filter-icons"></igx-icon>
        </span>
            <span igxDrawerItem igxRipple routerLink='support'>
                <igx-icon name="help" fontSet="filter-icons"></igx-icon>
        </span>
        </ng-template>
    </igx-nav-drawer>

    <main igxFlex>
        <!-- <button (click)="drawer.toggle()"> Menu </button> -->
        <span igxButton="icon" igxToggleAction="navigation">
        <igx-icon fontSet="material">menu</igx-icon>
        
      </span>
        <router-outlet style="margin-left: 20px;"></router-outlet>
    </main>
</div>



<!-- EMPLOYEE-->
<div class="content-wrap" igxLayout *ngIf='isEmployee()'>
    <igx-nav-drawer id="navigation" [pin]="true" [pinThreshold]="0">
        <ng-template igxDrawer>
            <span igxDrawerItem [isHeader]="true">{{translateService.get('Employee menu')}}  </span>
            <span igxDrawerItem igxRipple routerLink='projects'>
                <igx-icon name="project" fontSet="filter-icons"></igx-icon>
                <span>{{translateService.get('Projects')}}</span>
            </span>
            <span igxDrawerItem igxRipple routerLink='support'>
                <igx-icon name="help" fontSet="filter-icons"></igx-icon>
                <span>{{translateService.get('Support')}}</span>
            </span>
        </ng-template>
        <ng-template igxDrawerMini>
            <span igxDrawerItem igxRipple routerLink='projects'>
                <igx-icon name="project" fontSet="filter-icons"></igx-icon>
          </span>
            <span igxDrawerItem igxRipple routerLink='support'>
                <igx-icon name="help" fontSet="filter-icons"></igx-icon>
        </span>
        </ng-template>
    </igx-nav-drawer>

    <main igxFlex>
        <!-- <button (click)="drawer.toggle()"> Menu </button> -->
        <span igxButton="icon" igxToggleAction="navigation">
        <igx-icon fontSet="material">menu</igx-icon>
        
      </span>
        <router-outlet style="margin-left: 20px;"></router-outlet>
    </main>
</div>