<igx-card>
    <igx-card-header class="compact">
        <div class="igx-card-header__tgroup">
            <h3 class="igx-card-header__title--small">{{facility.name}} </h3>
            <h5 class="igx-card-header__subtitle">{{facility.address}}</h5>
        </div>
    </igx-card-header>
    <igx-card-actions>
        <div class="igx-card-actions__bgroup">
            <button type="button" class="btn btn-primary" style="margin-right: 5px;" (click)='deleteFacility()'>Details</button>
            <button type="button" class="btn btn-primary" style="margin-right: 5px;" (click)='deleteFacility()'>Delete</button>
        </div>
    </igx-card-actions>

</igx-card>