<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color:#e0e0eb;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">DeratControl</h5>
                <p>{{translateService.get('We work with the best that`s why we are the best')}}.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">{{translateService.get('Links')}}</h5>

                <ul class="list-unstyled">
                    <li>
                        <p class="hov" (click)='redirectTo("home")'>{{translateService.get('Home')}}</p>
                    </li>
                    <li>
                        <p class="hov" (click)='redirectTo("services")'>{{translateService.get('Services')}}</p>
                    </li>
                    <li>
                        <p class="hov" (click)='redirectTo("team")'>{{translateService.get('Our team')}}</p>
                    </li>
                    <li>
                        <p class="hov" (click)='redirectTo("licenses")'>{{translateService.get('Our licenses')}}</p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">{{translateService.get('Contact us')}}</h5>

                <ul class="list-unstyled">
                    <li>
                        <igx-icon color="black">home</igx-icon>
                        <h6 style="display: inline-block; ;">{{translateService.get('Lviv, Gorodocka 123a')}}</h6>
                    </li>
                    <li>
                        <igx-icon color="black">phone_iphone</igx-icon>
                        <h6 style="display: inline-block;">0732202576</h6>
                    </li>
                    <li>
                        <a href="https://web.telegram.org/#/login" target="_blank">
                            <igx-icon color="black" name="telegram" fontSet="filter-icons"></igx-icon>
                            <h6 style="display: inline-block;">deratcontrol</h6>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=uk" target="_blank">
                            <igx-icon color="black" name="twitter" fontSet="filter-icons"></igx-icon>
                            <h6 style="display: inline-block;">deratcontrol</h6>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/kistudent/" target="_blank">
                            <igx-icon color="black" name="instagram" fontSet="filter-icons"></igx-icon>
                            <h6 style="display: inline-block;">deratcontrol</h6>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="http://192.168.1.200:4200/"> DeratControl.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->