<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
<igx-tabs *ngIf='!loading && authenticationService.currentUserValue && obs | async'>
    <igx-tabs-group label="Organization details" icon="info" id="active">
        <div style="margin: 10px 3px 3px 1px">
            <h2>{{organization.name}}</h2>
            <igx-avatar src={{organization.avatarUrl}} roundShape="true" *ngIf='organization.avatarUrl'></igx-avatar>


        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Facilities" icon="store" id="active">
        <div style="margin: 10px 3px 3px 1px">
            <igx-input-group type="search" class="search">
                <igx-prefix>
                    <igx-icon>search</igx-icon>
                </igx-prefix>
                <input #search igxInput placeholder="Search facility" [(ngModel)]="searchFacility">
                <igx-suffix *ngIf="search.value.length > 0" (click)="searchFacility = null">
                    <igx-icon>clear</igx-icon>
                </igx-suffix>
            </igx-input-group>
            <div *ngIf='!searchFacility'>
                <app-facility-card *ngFor='let facility of fPagination' [facility]='facility'></app-facility-card>
                <ngb-pagination [collectionSize]="organization.facilities.length" [(page)]="fPage" [pageSize]="pageSize" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
            <div *ngIf='searchFacility'>
                <app-facility-card *ngFor='let facility of organization.facilities | igxFilter: filterFacilities' [facility]='facility'></app-facility-card>
            </div>

        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Add Facility" icon="add" id="addFacility" *ngIf='isAdmin()'>
        <div style="margin: 10px 3px 3px 1px">
            <app-add-facility [organization]='organization'></app-add-facility>
        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Clients" icon="people_alt" id="addFacility" *ngIf='isAdmin() || isClient()'>
        <div style="margin: 10px 3px 3px 1px">
            <igx-input-group type="search" class="search">
                <igx-prefix>
                    <igx-icon>search</igx-icon>
                </igx-prefix>
                <input #search igxInput placeholder="Search client" [(ngModel)]="searchClient">
                <igx-suffix *ngIf="search.value.length > 0" (click)="searchClient = null">
                    <igx-icon>clear</igx-icon>
                </igx-suffix>
            </igx-input-group>
            <div *ngIf='!searchClient'>
                <app-client-card *ngFor='let client of cPagination' [client]='client' [organizationId]='organization.id'></app-client-card>
                <ngb-pagination [collectionSize]="organization.clients.length" [(page)]="fPage" [pageSize]="pageSize" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
            <div *ngIf='searchClient'>
                <app-client-card *ngFor='let client of organization.clients | igxFilter: filterClients' [client]='client' [organizationId]='organization.id'></app-client-card>
            </div>

        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Add clients" icon="person_add" id="AddClients" *ngIf='isAdmin()'>
        <div style="margin: 10px 3px 3px 1px">
            <app-add-client></app-add-client>
        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Projects" icon="insert_drive_file" id="AddClients" *ngIf='isAdmin() || isClient()'>
        <div style="margin: 10px 3px 3px 1px">
            <app-projects-org-card *ngFor='let project of projectsPagination' [project]='project'></app-projects-org-card>
            <ngb-pagination [collectionSize]="organization.projects.length" [(page)]="projectsPage" [pageSize]="pageSize" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </igx-tabs-group>
</igx-tabs>