<div class="list-sample">
    <igx-list [displayDensity]="density">
        <igx-list-item isHeader="true">Feedbacks</igx-list-item>
        <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item *ngFor="let feedback of feedbacks">
            <span igxListLineTitle>{{ feedback.description }}</span>
            <span igxListLineSubTitle>{{ feedback.userName }}</span>
            <app-main-feedback-rating [rating]="feedback.rating"></app-main-feedback-rating>
        </igx-list-item>
    </igx-list>
</div>
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="feedbacksResult.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
</div>