<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
<igx-tabs *ngIf='!loading && authenticationService.currentUserValue'>
    <igx-tabs-group [label]="translateService.get('Perimeter')" icon="info" id="active">
        <div style="margin: 10px 3px 3px 1px">
            <h3 class="igx-card-header__title--small">{{perimeter.name}}</h3>
            <h5 class="igx-card-header__subtitle">{{translateService.get('Type')}}: {{translateService.get(perimeter.type)}}</h5>
            <h3 class="igx-card-header__title--small" *ngIf='ifStatus()'>{{translateService.get('Status')}}: {{translateService.get(perimeter.status)}}</h3>
            <h3 class="igx-card-header__title--small" *ngIf='ifStatus()'>{{translateService.get('Last action date')}}: {{perimeter.lastAction | date}}</h3>
            <h5 class="igx-card-header__subtitle">{{translateService.get('Service')}}: {{translateService.get(perimeter.service)}}</h5>
        </div>
        <div class="igx-card-actions__bgroup" *ngIf='!isClient()'>
            <button type="button" class="btn btn-primary" style="margin-right: 5px;" (click)='markAsReviewed()' *ngIf='ifStatus() && !isClient() && perimeter.status != "done" '>{{translateService.get('Mark as reviewed')}}</button>
        </div>

    </igx-tabs-group>
    <igx-tabs-group [label]="translateService.get('Traps')" icon="place" id="active" *ngIf='!ifStatus() '>
        <div style="margin: 10px 3px 3px 1px">
            <igx-input-group type="search" class="search" *ngIf='translateService.language=="en"'>
                <igx-prefix>
                    <igx-icon>search</igx-icon>
                </igx-prefix>
                <input #search igxInput placeholder="Search trap" [(ngModel)]="searchTrap">
                <igx-suffix *ngIf="search.value.length > 0" (click)="searchTrap = null">
                    <igx-icon>clear</igx-icon>
                </igx-suffix>
            </igx-input-group>
            <igx-input-group type="search" class="search" *ngIf='translateService.language=="ua"'>
                <igx-prefix>
                    <igx-icon>search</igx-icon>
                </igx-prefix>
                <input #search igxInput placeholder="Пошук пастки" [(ngModel)]="searchTrap">
                <igx-suffix *ngIf="search.value.length > 0" (click)="searchTrap = null">
                    <igx-icon>clear</igx-icon>
                </igx-suffix>
            </igx-input-group>
            <div *ngIf='!searchTrap'>
                <app-trap-card (onDelete)='onDelete($event)' *ngFor='let trap of pagination' [trap]='trap'></app-trap-card>
                <ngb-pagination [collectionSize]="perimeter.traps.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
            <div *ngIf='searchTrap'>
                <app-trap-card (onDelete)='onDelete($event)' *ngFor='let trap of perimeter.traps | igxFilter: filterTraps' [trap]='trap'></app-trap-card>
            </div>

        </div>
    </igx-tabs-group>
    <igx-tabs-group [label]="translateService.get('Create Trap')" icon="add" id="active" *ngIf='!ifStatus() && !isClient()'>
        <div style="margin: 10px 3px 3px 1px">

            <app-create-trap (onCreate)='onCreate()'></app-create-trap>
        </div>
    </igx-tabs-group>

</igx-tabs>