<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="32px">
    <h3 id="contacts-header">{{translateService.get('Contact us')}}
    </h3>
    <div class="icon-sample" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center center">
        <div>
            <igx-icon color="black">home</igx-icon>
            <h5 style="float: right;">{{translateService.get('Lviv, Gorodocka 123a')}}</h5>
        </div>
        <div>
            <igx-icon color="black">phone_iphone</igx-icon>
            <h5 style="float: right;">0732201234</h5>
        </div>
    </div>

    <h3>{{translateService.get('Social media')}}</h3>
    <div class="icon-sample" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="space-evenly center">
        <a href="https://web.telegram.org/#/login" target="_blank">
            <igx-icon color="black" name="telegram" fontSet="filter-icons"></igx-icon>
            <h5 style="float: right;">deratcontrol</h5>
        </a>
        <a href="https://twitter.com/?lang=uk" target="_blank">
            <igx-icon color="black" name="twitter" fontSet="filter-icons"></igx-icon>
            <h5 style="float: right;">deratcontrol</h5>
        </a>
        <a href="https://www.instagram.com/kistudent/" target="_blank">
            <igx-icon color="black" name="instagram" fontSet="filter-icons"></igx-icon>
            <h5 style="float: right;">deratcontrol</h5>
        </a>
    </div>
</div>