<div style="height: 70px;">
</div>



<h1>{{services[i].title}}</h1>
<p style="text-align: justify; margin-left: 10px;">
    <img src="{{services[i].imageUrl}}" style="float: right; margin: 7px 0 7px 10px"> {{services[i].description}}
</p>

<h3>How it works</h3>
<p>{{services[i].instruction}}</p>
<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center center">
    <app-main-price-calculator *ngFor='let calc of services[i].priceCalculator' [serviceCalculator]="calc"></app-main-price-calculator>
</div>

<app-main-callback id="callback"></app-main-callback>