<igx-card>
    <igx-card-header class="compact">
        <!-- <igx-avatar src={{employee.avatarUrl}} roundShape="true"></igx-avatar> -->
        <div class="igx-card-header__tgroup">
            <h3 class="igx-card-header__title--small">{{client.firstName}} {{client.lastName}} {{client.id}}</h3>
            <h5 class="igx-card-header__subtitle">{{client.phone}}</h5>
            <!-- <h5 class="igx-card-header__subtitle">{{employee.email}}</h5> -->
        </div>
    </igx-card-header>
    <igx-card-actions>
        <div class="igx-card-actions__bgroup">
            <button type="button" class="btn btn-primary" style="margin-right: 5px;" (click)='removeClient()'>Delete</button>
        </div>
    </igx-card-actions>

</igx-card>