<article class="sample-column card-wrapper" style="height: 60%;">
    <igx-card>
        <igx-card-header>
            <igx-avatar src={{teamCard.avatarUrl}} roundShape="true "></igx-avatar>
            <h4 igxCardHeaderTitle>{{teamCard.name}}</h4>
            <h5 igxCardHeaderSubtitle>{{teamCard.position}}</h5>
        </igx-card-header>

        <igx-card-media style="height:auto; width: auto; min-width: 700px; ">
            <img src={{teamCard.imageUrl}}>
        </igx-card-media>

        <igx-card-content>
            <p>Age: {{teamCard.age}} years Phone: {{teamCard.phone}} Experience: {{teamCard.experience}} year(s)</p>
        </igx-card-content>
    </igx-card>
</article>