<article class="sample-column card-wrapper" style="height: 60%;">
    <igx-card>
        <igx-card-header>
            <h4 igxCardHeaderTitle>{{teamCard.name}}</h4>
            <h5 igxCardHeaderSubtitle>{{teamCard.position}}</h5>
        </igx-card-header>

        <igx-card-media style="height:auto; width: auto; min-width: 700px; ">
            <img src={{teamCard.imageUrl}}>
        </igx-card-media>

        <igx-card-content>
            <p>{{translateService.get('Age')}}: {{teamCard.age}} {{translateService.get('Phone')}}: {{teamCard.phone}} {{translateService.get('Experience')}}: {{teamCard.experience}} {{translateService.get('year(s)')}}</p>
        </igx-card-content>
    </igx-card>
</article>