<igx-tabs *ngIf='isAdmin()'>
    <igx-tabs-group label="Index images" icon="library_music" id="active">
        <app-index-image-list [indexImages]='indexImages'></app-index-image-list>
    </igx-tabs-group>
    <igx-tabs-group label="Licenses" icon="library_music" id="active">
        <app-licenses-list [licenses]='licenses'></app-licenses-list>
    </igx-tabs-group>
    <igx-tabs-group label="Team members" icon="library_music" id="active">
        <app-team-member-list [teamMembers]='teamMembers'></app-team-member-list>
    </igx-tabs-group>

</igx-tabs>