<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
<igx-tabs *ngIf='!loading && authenticationService.currentUserValue'>
    <igx-tabs-group label="Project details" icon="library_music" id="active">
        <div style="margin: 10px 3px 3px 1px">
            <div>
                <h3>{{project.name}}</h3>
                <igx-avatar src={{project.avatarUrl}} roundShape="true"></igx-avatar>
                <br>
                <p>status: {{project.status}}</p>
                <p>Services: {{project.services}}</p>
                <p *ngIf='project.organization'>Organization: {{project.organization.name}}</p>
                <div class="button-sample-custom">
                    <button igxButton="raised" igxRipple="white" (click)='goToOrganization()'>Organization</button>
                </div>
            </div>
            <div style="float: right;">
                <div class="list-sample">
                    <igx-list [displayDensity]="density">
                        <igx-list-item isHeader="true">Events</igx-list-item>
                        <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item *ngFor="let event of events">
                            <span igxListLineTitle>{{ event.eventText }}</span>
                        </igx-list-item>
                    </igx-list>
                    <ngb-pagination [collectionSize]="project.events.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Employees" icon="library_music" id="employ">
        <div style="margin: 10px 3px 3px 1px">
            <app-employee-card *ngFor='let employee of employeesPagination ' [employee]='employee ' [projectId]='project.id '></app-employee-card>

            <ngb-pagination [collectionSize]="employees.length" [(page)]="ePage" [pageSize]="pageSize" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Add employees" icon="library_music" id="employ" *ngIf='isAdmin()'>
        <div style="margin: 10px 3px 3px 1px">
            <app-add-employee></app-add-employee>
        </div>
    </igx-tabs-group>
</igx-tabs>