<igx-tabs>
    <igx-tabs-group label="Project details" icon="library_music" id="active">
        <div style="margin: 10px 3px 3px 1px">
            <div>
                <h3>{{project.name}}</h3>
                <igx-avatar src={{project.avatarUrl}} roundShape="true"></igx-avatar>
                <br>
                <p>status: {{project.status}}</p>
                <p>Services: {{project.services}}</p>
                <p>Organization: {{project.organization.name}}</p>
                <div class="button-sample-custom">
                    <button igxButton="raised" igxRipple="white" (click)='goToOrganization()'>Organization</button>
                </div>
            </div>
            <div style="float: right;">
                <div class="list-sample">
                    <igx-list [displayDensity]="density">
                        <igx-list-item isHeader="true">Events</igx-list-item>
                        <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item *ngFor="let event of project.events">
                            <span igxListLineTitle>{{ event.eventText }}</span>
                        </igx-list-item>
                    </igx-list>
                    <ngb-pagination [collectionSize]="events.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Employees" icon="library_music" id="employ">
        <div style="margin: 10px 3px 3px 1px">
            <app-employee-card *ngFor='let employee of employeesPagination ' [employee]='employee ' [projectId]='project.id '></app-employee-card>

            <ngb-pagination [collectionSize]="employees.length" [(page)]="ePage" [pageSize]="pageSize" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Add employees" icon="library_music" id="employ" *ngIf='isAdmin()'>
        <div style="margin: 10px 3px 3px 1px">
            <app-add-employee></app-add-employee>
        </div>
    </igx-tabs-group>
</igx-tabs>