.services {
    place-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    width: auto;
    margin-left: 32px;
    margin-bottom: 32px;
    margin-top: 32px;
}