<h3 style="text-align: center;">{{translateService.get('Services')}}</h3>

<div *ngIf="sw()==3">
    <div *ngIf='translateService.language == "en"' fxLayoutAlign="center" fxLayoutGap="32px">
        <app-main-service-card *ngFor="let card of cards" [card]="card"></app-main-service-card>
    </div>
    <div *ngIf='translateService.language == "ua"' fxLayoutAlign="center" fxLayoutGap="32px">
        <app-main-service-card *ngFor="let card of cardsUa" [card]="card"></app-main-service-card>
    </div>
</div>

<div *ngIf="sw()==2">
    <div *ngIf='translateService.language == "en"' fxLayoutAlign="start start" fxLayoutGap="32px">
        <app-main-service-card [card]="cards[0]"></app-main-service-card>
        <app-main-service-card [card]="cards[1]"></app-main-service-card>
    </div>
    <div *ngIf='translateService.language == "en"' fxLayoutAlign="start start" fxLayoutGap="32px">
        <app-main-service-card [card]="cards[2]"></app-main-service-card>
        <app-main-service-card [card]="cards[3]"></app-main-service-card>
    </div>
    <div *ngIf='translateService.language == "ua"' fxLayoutAlign="start start" fxLayoutGap="32px">
        <app-main-service-card [card]="cards[0]"></app-main-service-card>
        <app-main-service-card [card]="cards[1]"></app-main-service-card>
    </div>
    <div *ngIf='translateService.language == "ua"' fxLayoutAlign="start start" fxLayoutGap="32px">
        <app-main-service-card [card]="cards[2]"></app-main-service-card>
        <app-main-service-card [card]="cards[3]"></app-main-service-card>
    </div>
</div>

<div *ngIf="sw()==1">
    <div class="services" *ngIf='translateService.language == "en"'>
        <app-main-service-card *ngFor="let card of cards" [card]="card"></app-main-service-card>
    </div>
    <div class="services" *ngIf='translateService.language == "ua"'>
        <app-main-service-card *ngFor="let card of cards" [card]="card"></app-main-service-card>
    </div>
</div>