<app-main-carousel id="home"></app-main-carousel>
<app-main-services-cards id="services"></app-main-services-cards>
<div style="height: 20px; width: 100%;"></div>
<app-main-team-carousel id="team"></app-main-team-carousel>
<div style="height: 20px; width: 100%;"></div>
<app-main-licences-buttons id="licenses"></app-main-licences-buttons>
<div style="height: 20px; width: 100%;"></div>
<app-main-feedback-card id="feedbacks"></app-main-feedback-card>
<app-main-callback id="callback"></app-main-callback>
<app-main-contacts id="contacts"></app-main-contacts>
<app-main-googlemap id="map"></app-main-googlemap>