<div class="sample-wrapper" *ngIf='isClient()'>
    <section class="sample-content">
        <article class="sample-column">
            <form>
                <igx-input-group>
                    <input igxInput name="fullName" type="text" required="required" [(ngModel)]='feedback.description' />
                    <label igxLabel for="fullName">Feedback</label>
                </igx-input-group>
            </form>
        </article>
    </section>
</div>
<ngb-rating [(rate)]="feedback.rating" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="false"></ngb-rating>

<pre>
    Selected: <b>{{feedback.rating}}</b>
    Hovered: <b>{{hovered}}</b>
    </pre>


<button type="button" class="btn btn-primary" style="margin-right: 5px;" (click)="onSubmit()">Submit</button>
<button type="button" class="btn btn-primary" style="margin-right: 5px;" (click)="delete()" *ngIf='deletable'>Delete</button>