<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
<igx-tabs *ngIf='!loading && authenticationService.currentUserValue && obs | async'>
    <igx-tabs-group label="Trap" icon="info" id="active">
        <div style="margin: 10px 3px 3px 1px">
            <h3 class="igx-card-header__title--small">{{trap.place}}</h3>
            <h5 class="igx-card-header__subtitle">{{translateService.get('Type')}}: {{translateService.get(trap.type)}}</h5>
            <h5 class="igx-card-header__subtitle">{{translateService.get('Status')}}: {{translateService.get(trap.status)}}</h5>
            <h5 class="igx-card-header__subtitle">{{trap.comment}}</h5>

            <h5 class="igx-card-header__subtitle">{{translateService.get('Last review date')}}: {{trap.lastReviewTime | date}}</h5>
            <h5 class="igx-card-header__subtitle">{{translateService.get('Next review date')}}: {{trap.nextReviewTime | date}}</h5>

            <h5 class="igx-card-header__subtitle">{{translateService.get('Created at')}}: {{trap.createdAt | date}}</h5>
            <h5 class="igx-card-header__subtitle">{{translateService.get('Expire at')}}: {{trap.endTime | date}}</h5>

            <h5 class="igx-card-header__subtitle">{{translateService.get('Assigned to')}}: {{trap.employee.firstName}} {{trap.employee.firstName}}</h5>
        </div>
        <div class="igx-card-actions__bgroup">
            <button type="button" class="btn btn-primary" style="margin-right: 5px;" (click)='markAsReviewed()' *ngIf='!isClient()'>{{translateService.get('Mark as reviewed')}}</button>
            <button type="button" class="btn btn-primary" style="margin-right: 5px;" (click)='goToPerimeter()'>{{translateService.get('Perimeter')}}</button>
        </div>

    </igx-tabs-group>
</igx-tabs>